.board {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-image:
        linear-gradient(
            to right,
            transparent 0%,
            transparent 32.5%,
            #2c2424 32.5%,
            #2c2424 33.5%,
            transparent 33.5%,
            transparent 65.5%,
            #2c2424 65.5%,
            #2c2424 66.5%,
            transparent 66.5%
        ),
        linear-gradient(
            to top,
            transparent 0%,
            transparent 32.5%,
            #2c2424 32.5%,
            #2c2424 33.5%,
            transparent 33.5%,
            transparent 65.5%,
            #2c2424 65.5%,
            #2c2424 66.5%,
            transparent 66.5%
        )
}

.board > .cell {
    width: 90px;
    height: 90px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    cursor: default;
    font-style: normal;
}

.board > .cell[data-turn="X"]:not(.taken):before {
    content: attr(data-turn);
    color: hsl(245, 74%, 90%);
}

.board > .cell[data-turn="O"]:not(.taken):before {
    content: attr(data-turn);
    color: hsl(65, 74%, 90%);
}

.taken.X {
    color: hsl(245, 74%, 61%);
}

.taken.O {
    color: hsl(65, 74%, 61%);
}

.message {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 30px 0;
    text-align: center;
    font-size: 3rem;
    display: none;
}

.X:nth-child(1) + .X + .X ~ .message.win-X,
.X:nth-child(4) + .X + .X ~ .message.win-X,
.X:nth-child(7) + .X + .X ~ .message.win-X,
.X:nth-child(1) ~ .X:nth-child(4) ~ .X:nth-child(7) ~ .message.win-X,
.X:nth-child(2) ~ .X:nth-child(5) ~ .X:nth-child(8) ~ .message.win-X,
.X:nth-child(3) ~ .X:nth-child(6) ~ .X:nth-child(9) ~ .message.win-X,
.X:nth-child(1) ~ .X:nth-child(5) ~ .X:nth-child(9) ~ .message.win-X,
.X:nth-child(3) ~ .X:nth-child(5) ~ .X:nth-child(7) ~ .message.win-X {
    display: block;
    background-color: hsl(245, 74%, 61%);
    color: hsl(65, 74%, 61%);
}

.O:nth-child(1) + .O + .O ~ .message.win-O,
.O:nth-child(4) + .O + .O ~ .message.win-O,
.O:nth-child(7) + .O + .O ~ .message.win-O,
.O:nth-child(1) ~ .O:nth-child(4) ~ .O:nth-child(7) ~ .message.win-O,
.O:nth-child(2) ~ .O:nth-child(5) ~ .O:nth-child(8) ~ .message.win-O,
.O:nth-child(3) ~ .O:nth-child(6) ~ .O:nth-child(9) ~ .message.win-O,
.O:nth-child(1) ~ .O:nth-child(5) ~ .O:nth-child(9) ~ .message.win-O,
.O:nth-child(3) ~ .O:nth-child(5) ~ .O:nth-child(7) ~ .message.win-O {
    display: block;
    background-color: hsl(65, 74%, 61%);
    color: hsl(245, 74%, 61%);
}

.taken + .taken + .taken + .taken + .taken + .taken + .taken + .taken + .taken ~ .draw {
    display: block;
    background-color: #ccc;
}