fieldset {
    padding: 1rem;
}

label {
    -webkit-user-select:none;
    font-size: 0.8rem;
    display: block;
    margin-bottom: 1rem;
}

.inline {
    display: inline;
}

label > span {
    display: block;
}

input[type="text"] {
    padding: .2rem;
}

input:invalid {
    border: 2px solid red;
}

input:valid + .invalid {
    visibility: hidden;
}

input:invalid + .invalid {
    visibility: visible;
}

.invalid {
    display: inline-block;
    color: brown;
    font-weight: 600;
    font-size: .8rem;
}

input:required {
    border: 2px solid red;
}

input:valid {
    border: 1px solid #ccc;
}

.multiselect {
    min-width: 5em;
}

.clear {
    vertical-align: top;
}

.output-container {
    padding-top: 1rem;
}

.output-container > pre {
    display: inline-block;
    width: 80%;
    margin: 0;
    padding: 5px;
    background-color: #1D1F21;
    color: white;
    word-wrap: break-word;
    min-height: 2rem;
}