.color-static {
    background-color: lemonchiffon;
}

.color-relative {
    background-color: khaki;
}

.color-absolute {
    background-color: oldlace;
}

.color-fixed {
    background-color: orange;
}

.positions {
    display: block;
    border: none;
    padding: 0;
    margin-bottom: 0.5rem;
    background-color: inherit;
}

div > h1 {
    font-size: 1.2rem;
    margin-top: 0;
}

div {
    border: 1px solid brown;
    padding: 1rem;
}

.relative {
    position: relative;
    top: 50px;
    left: 30px;
}

.absolute {
    position: absolute;
    top: 900px; 
    left: 100px;
}

.absolute .absolute {
    top: 120px;
    left: -10px;
}

.fixed {
    position: fixed;
    top: 465px; 
    left: 200px;
}

.fixed .absolute {
    position: absolute;
    top: 200px; 
    left: 200px;
}

.fixed .relative {
    top: 100px;
    left: 30px;
}