@font-face {
    font-family: typewriter;
    src: url(../fonts/1942.ttf);
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.typed {
    font-family: typewriter;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
    line-height: 1.3em;
    background-color: blanchedalmond;
}

body > h1 {
    background-color: #42a2ce;
    color: aliceblue;
    padding: 1rem;
    margin: 0;
}

main {
    padding: 1rem;
}

details {
    background-color: rgba(200, 255, 144, 0.31);
    border: 2px solid gray;
    margin: .5rem;
    padding: 1rem;
    border-radius: .5rem;
}

code {
    background-color: gainsboro;
    padding: .15rem;
    border: 1px solid #9b9a9a;
    border-radius: .2rem;
    color: #444;
}

.tag::before {
    content: '<';
}

.tag:after {
    content: '>';
}

summary {
    cursor: pointer;
    outline: none;
}

summary > h2 {
    display: inline-block;
}

a.back {
    font-size: 0.8rem;
}

.clear {
    clear: both;
}