@font-face {
    font-family: typewriter;
    src: url(../fonts/1942.ttf);
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.typed {
    font-family: typewriter;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 0;
    color: #222;
    line-height: 1.3em;
    background-color: #fff9f0;
}

body > header {
    background-color: #42a2ce;
    color: aliceblue;
    padding: 1rem;
    margin: 0;
}

header h1 {
    display: inline-block;
    margin: 0;
    line-height: 1em;
    vertical-align: middle;
}

header a {
    text-decoration: none;
}

img.home {
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
}

.card {
    background-color: white;
    padding: 3px;
    box-shadow: 5px 5px 5px lightgray;
    border: 1px solid #ececec;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.card-menu {
    padding: 0 20px;
}

.card-menu li {
    list-style: none;
    margin: 10px;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #e0e0e0;
    line-height: 2.5em;
}

.card-menu a {
    text-decoration: none;
    color: #4D4242;
    padding: 20px;
}

.card-menu li:hover {
    background-color: #42a2ce;
    box-shadow: 3px 3px 10px #e0e0e0;
}

.card-menu a:hover {
    color: aliceblue;
}

nav > h1 {
    margin-left: 1rem;
}

main {
    padding: 1rem;
}

details {
    background-color: rgba(200, 255, 144, 0.31);
    border: 2px solid gray;
    margin: .5rem;
    padding: 1rem;
    border-radius: .5rem;
}

code {
    background-color: gainsboro;
    padding: .15rem;
    border: 1px solid #9b9a9a;
    border-radius: .2rem;
    color: #444;
}

.tag::before {
    content: '<';
}

.tag:after {
    content: '>';
}

summary {
    cursor: pointer;
    outline: none;
}

summary > h2 {
    display: inline-block;
}

a.back {
    font-size: 0.8rem;
}

.clear {
    clear: both;
}