@media (min-width: 858px) {
    .recipe {
        float: left;
        width: 45%;
    }
    
    .contents {
/*    background-color: red;*/
        width: 200px;
        height: 100%;
        border-right: 2px solid #ccc;
        position: absolute;
        top: 52px;
        padding: 0 10px;
    }
    
    #recipes {
        margin-left: 210px;
    }
}

.contents > h1 {
    font-size: 1rem;
}

.contents ol {
    list-style: none;
    padding: 0;
}

.contents li {
    margin: 5px 0;
}

.contents a {
    text-decoration: none;
}

.ingredients {
/*    background-color: pink;*/
}

.steps {
/*    background-color: orange;*/
}

.recipe {
    margin: 0;
/*    padding: 5px;*/
	background-color: azure;
	margin: 15px;
	color: #444;
	box-shadow: 2px 2px 5px teal;
}

.recipe-body {
    padding: 10px;
}

.recipe > h1 {
    padding: 10px;
    background-color: #42a2ce;
    color: aliceblue;
    font-size: 1.2rem;
    margin: 0;
}

.divide {
    background-color: #ccc;
    height: 2px;
    margin: 0 50px;
}