@media (min-width: 858px) {
    .recipe {
        float: right;
        width: 45%;
    }
    
    .contents {
        width: 200px;
        height: 100%;
        border-right: 2px solid #ccc;
        position: absolute;
        top: 80px;
/*        padding: 0 10px;*/
    }
    
    #recipes {
        margin-left: 210px;
    }
}

.contents > h1 {
    font-size: 1rem;
}

.contents ol {
    list-style: none;
    padding: 0;
}

.contents li {
    margin: 5px 0;
}

.contents a {
    text-decoration: none;
}

.ingredients {
    background-color: pink;
    float: right;
    font-size: 0.8rem;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.ingredients > h1 {
    font-size: 0.9rem;
    margin: 0;
}

.recipe {
    margin: 0;
	background-color: azure;
	margin: 15px;
	color: #444;
	box-shadow: 2px 2px 5px teal;
}

.recipe .card-body {
    padding: 10px;
    font-size: 0.9rem;
}

.card-body img {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
}

.recipe > header > h1 {
    padding: 10px;
    background-color: #42a2ce;
    color: aliceblue;
    font-size: 1.2rem;
    margin: 0;
}

.summary {
    list-style: none;
    padding: 0 15px;
    margin: 0;
}

.summary li {
    display: inline-block;
    background-color: white;
    color: #888;
    border: 2px solid #aaa;
    padding: 4px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin: 5px;
}

.summary li > i {
    font-size: 1rem;
    padding-right: 5px;
}

.source {
    clear: both;
    font-size: 0.8rem;
    font-style: italic;
}