<!DOCTYPE html>
<html>
    <head>
        <title>Noughts and Crosses</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/crosses.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="../../index.html">
                <img class="home" src="../img/html5.png" alt="HTML5" />
            </a>
            <h1>Noughts and Crosses</h1>
        </header>
        <main>
            <div class="card center">
                <div class="card-body">
                    <div class="board">
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="cell"></div>
                        <div class="message draw">Draw</div>
                        <div class="message win-X">X wins</div>
                        <div class="message win-O">O wins</div>
                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../scripts/crosses.js"></script>
    </body>
</html>
