<!DOCTYPE html>
<html>
    <head>
        <title>Flexbox</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/flex.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="../../index.html">
                <img class="home" src="../img/html5.png" alt="HTML5" />
            </a>
            <h1>Flexbox</h1>
        </header>
        <main>
            <header class="card">
                <h1>Header</h1>
                <code>flex: 100%;</code>
            </header>
            <div class="card sidebar">
                <h1>Sidebar</h1>
                <div class="card-body">
                    <code class="big">flex: 2;</code>
                    <ol>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ol>
                </div>
            </div>
            <div class="card content">
                <h1>Content</h1>
                <div class="card-body">
                    <code class="big">flex: 5;</code>
                    <article class="card">
                        <header>
                            <h1>Some article</h1>
                        </header>
                        <div class="card-body">
                            <p>The article content. The article content. The article content. The article content. The article content. The article content. The article content. The article content. The article content. The article content. The article content. The article content. </p>
                        </div>
                    </article>
                    <article class="card">
                        <header>
                            <h1>Some other  article</h1>
                        </header>
                        <div class="card-body">
                            <p>first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph first paragraph </p>
                            <p>second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph second paragraph </p>
                        </div>
                    </article>
                </div>
                
            </div>
            <aside class="card sidebar">
                <h1>Aside</h1>
                <div class="card-body">
                    <code class="big">flex: 1;</code>
                    <p>Nonsense nonsense nonsense nonsense nonsense nonsense nonsense nonsense nonsense</p>
                    <p>bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum bunkum </p>
                </div>
                
            </aside>
            <footer class="card">
                <h1>Footer</h1>
                <code>flex: 100%;</code>
            </footer>
        </main>
    </body>
</html>
