<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Floating and clearing</title>
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/float.css" rel="stylesheet" />
	</head>
	<body>
        <h1>Floating and Clearing</h1>
        <a href="layout.html" class="back">Back to layout</a>
        <nav class="left-sidebar">
            <span>This is a <code class="tag">nav</code> floated to the left.</span>
            <ul>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </nav>
        
        <main>
            <aside>
            This is an <code class="tag">aside</code> which is floated right.
        </aside>
            <p>The <code class="tag">main</code> content is in red.</p>
            <p>x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x </p>
            <section class="picture">
                <figure>
                  <img id="kitten" src="../img/kitten.jpg" title="The obligatory kitten" alt="The obligatory kitten"/>
                </figure>
                <figcaption>
                    <p>This is a <code clss="tag">figcaption</code>.</p>
                    <p>The <code class="tag">img</code> is centered using <code>width :50%; margin: 0 auto;</code> on the containing <code class="tag">section</code>.</p>
                </figcaption>
            </section>
            The main content has <code>margin-bottom: 3px;</code>, and the footer has <code>margin-top: 3px;</code> but the gap is 3px because it only takes the maximum of the two vertical margins.
        </main>        
        <footer class="clear">
            <p>This is the <code class="tag">footer</code>.
            It uses <code>clear: both;</code> to prevent it from floating up under the main content, and <code>margin-top: 3px;</code> to add a gap above.</p>
        </footer>
	</body>
</html>