<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Playing with HTML5</title>
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/forms.css" rel="stylesheet" />
	</head>
	<body>
        <header>
            <a href="../../index.html">
                <img class="home" src="../img/html5.png" alt="HTML5" />
            </a>
            <h1>Getting started with HTML5</h1>		
        </header>
		<main>
            <article class="card center">
                <header>
                    <h1>Form validation</h1>
                </header>
                <div class="card-body">
                    <form class="track" novalidate>

                        <fieldset>
                            <legend>Stupid Form</legend>

                            <label for="username">
                                <span>Username</span>
                                <input type="text" required />
                                <div class="invalid">
                                    Username is required
                                </div>
                            </label>

                            <label for="username">
                                <span>Favourite food</span>
                                <input type="text" list="foods" />
                            </label>
                            <datalist id="foods">
                                <option value="Pizza" />
                                <option value="Crisps" />
                                <option value="Hair" />
                            </datalist>

                            <label>
                                <span>Gender</span>
                                <select>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </label>

                            <button type="submit">OK</button>
                        </fieldset>

                    </form>
                </div>
            </article>
            <article class="card center">
                <header>
                    <h1>More forms</h1>
                </header>
                <div class="card-body">
                    <form novalidate id="js-test">
                        <label>
                            Message
                            <input type="text" name="message" />
                        </label>
                        <label>
                            Numbers
                            <select name="numbers" class="multiselect" multiple size="5">
                                <option value="one">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </label>
                        
                        <button id="send" type="submit">Selected numbers</button>
                        <button id="serialize" type="submit">Serialize</button>
                        <label class="inline">
                            <input type="checkbox" id="decode" />
                            Decode
                        </label>
                        <button type="reset">Reset</button>
                    </form>
                    
                    <div class="output-container">
                        <pre id="output"></pre>
                        <button class="clear">Clear</button>
                    </div>
                </div>
            </article>
        </main>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../scripts/forms.js"></script>
	</body>
</html>