<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Gradients</title>
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/gradients.css" rel="stylesheet" />
	</head>
	<body>
        <header>
            <a href="../../index.html">
                <img class="home" src="../img/html5.png" alt="HTML5" />
            </a>
            <h1>Gradients</h1>		
        </header>
		<main>
            <article class="card center">
                <header>
                    <h1>Rainbow</h1>
                </header>                
                <div class="card-body">
                    <div class="rainbow"></div>
                </div>
            </article>
            <article class="card center">
                <header>
                    <h1>Union Jack</h1>
                </header>                
                <div class="card-body">
                    <p>This is done with linear red, white and transparent gradients on a blue background.</p>
                    <div class="flag"></div>
                </div>
            </article>
            <article class="card center">
                <header>
                    <h1>Radial</h1>
                </header>                
                <div class="card-body">
                    <div class="radial"></div>
                </div>
            </article>
        </main>
	</body>
</html>