<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>A massive kitten</title>
        <link href="../styles/play.css" rel="stylesheet" />
	</head>
	<body>
        <main>
            <figure data-overlay="Kitten">
                <img style="width:100%; height:100%" src="../img/kitten.jpg" alt="A kitten" />
            </figure>
            <figcaption>
                The obligatory kitten
            </figcaption>
        </main>
	</body>
</html>