<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Layout</title>
        <link href="../styles/play.css" rel="stylesheet" />
	</head>
	<body>
        <header>
            <a href="../../index.html">
                <img class="home" src="../img/html5.png" alt="HTML5" />
            </a>
            <h1>Layout</h1>
        </header>
        <main>
            <nav class="card center">
                <ul class="card-menu">
                    <li><a href="positioning.html">Positioning</a></li>
                    <li><a href="float.html">Floating and Clearing</a></li>
                </ul>
            </nav>
        </main>
	</body>
</html>