<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Media</title>
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/media.css" rel="stylesheet" />
	</head>
	<body>
        <h1>Some media</h1>
        <main>
            <video id="tv" muted loop controls width="300">
                <source src="../video/tv.mp4" type="video/mp4" />
                <source src="../video/tv.m4v" type="video/m4v" />
                <source src="../video/tv.ogv" type="video/ogg" />
                <source src="../video/tv.webm" type="video/webm" />
                <p>Can't cope with this!</p>
            </video>
            <video id="walk" muted loop controls width="300">
                <source src="../video/walk.mp4" type="video/mp4" />
                <source src="../video/walk.m4v" type="video/m4v" />
                <source src="../video/walk.ogv" type="video/ogg" />
                <source src="../video/walk.webm" type="video/webm" />
                <p>Can't cope with this!</p>
            </video>
            <video id="scratch" muted loop controls width="300">
                <source src="../video/scratch.mp4" type="video/mp4" />
                <source src="../video/scratch.m4v" type="video/m4v" />
                <source src="../video/scratch.ogv" type="video/ogg" />
                <source src="../video/scratch.webm" type="video/webm" />
                <p>Can't cope with this!</p>
            </video>
            <audio id="jazz" controls>
                <source src="../audio/01-D-Town.mp3" type="audio/mp3" />
            </audio>
            <div id="message"></div>
        </main>

        <script type="text/javascript" src="../scripts/media.js"></script>
	</body>
</html>