<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Parent links</title>
        <link href="../styles/play.css" rel="stylesheet" />
	</head>
	<body>
        <h1>Links to the parent frame or window</h1>
        <main>
            <p>These will only work if the containing &lt;iframe&gt; is marked with sandbox="allow-top-navigation"</p>
            <ul>
                <li><a href="http://www.bbc.co.uk" target="_parent">BBC</a></li>
                <li><a href="kitten.html" target="_parent">Kitten</a></li>
                <li><a href="annoying.html" target="_parent">Annoying</a></li>
            </ul>
        </main>
	</body>
</html>