<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"></meta>
		<title>Positioning</title>
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/layout.css" rel="stylesheet" />
	</head>
	<body>
        <h1>Positioning</h1>
        <a href="layout.html" class="back">Back to layout</a>
        <main>
            <p>
                There are four different position values that can be applied to any element:
                <code class="color-static">static</code>,
                <code class="color-relative">relative</code>,
                <code class="color-absolute">absolute</code>,
                and
                <code class="color-fixed">fixed</code>.
            </p>
            <p>
                The default positioning is <code class="color-static">static</code>, but if any other position
                value is used then you can adjust the position of the element using one or
                more of the following properties:
                <code>top</code>,
                <code>right</code>,
                <code>bottom</code>
                and
                <code>left</code>.
            </p>
            <div class="color-static">
                <h1>position: static (default)</h1>
                Elements with static position are placed in the document based on the flow of the rest of the content.
            </div>
            <div class="relative color-relative">
                <h1>position: relative;</h1>
                <div class="positions">
                    <code>top: 50px; left: 30px;</code>
                </div>
                With relative positioning, the element's position is adjusted relative to its static position.
                Notice that the content wraps relative to the static position, rather than the relative position.
            </div>
            <div class="absolute color-absolute">
                <h1>position: absolute;</h1>
                <div class="positions">
                    <code>top: 900px; left: 100px;</code>
                </div>
                With absolute positioning, the element's position is not affected by the flow of the document.
                Instead it will always have the same position relative to the document and it will move when the
                user scrolls.
                <div class="absolute color-absolute">
                    <h1>absolute within absolute</h1>
                    <div class="positions">
                        <code>top: 120px; left: -10px;</code>
                    </div>
                    This absolute content is nested within another element with absolute position, so it is positioned
                    relative to the parent.
                </div>
            </div>
            <div class="fixed color-fixed">
                <h1>position: fixed;</h1>
                <div class="positions">
                    <code>top: 465px; left: 200px;</code>
                </div>
                With fixed positioning, the element's position is not affected by the flow of the document.
                Instead it will always have the same position relative to the window and it will not move when the
                user scrolls.
                <div class="absolute color-absolute">
                    <h1>absolute within fixed</h1>
                    <div class="positions">
                        <code>top: 200px; left: 200px;</code>
                    </div>
                    This absolute content is nested within an element with fixed position, so it is positioned
                    relative to the parent.
                </div>
                <div class="color-static">
                    <h1>static within fixed</h1>
                    This static content is nested within an element with fixed position.
                </div>
                <div class="relative color-relative">
                    <h1>relative within fixed</h1>
                    <div class="positions">
                        <code>top: 50px; left: 30px;</code>
                    </div>
                    This relative content is nested within an element with fixed position.
                </div>
            </div>
        </main>
	</body>
</html>