<!DOCTYPE html>
<html>
    <head>
        <title>Recipe book</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/recipes.css" rel="stylesheet" />
    </head>
    <body>
       
        <h1>Recipe Book</h1>
        
        <main>
            <nav class="contents">
                <h1>Contents:</h1>

                <ol>
                    <li><a href="#risotto">Risotto</a></li>
                    <li><a href="#burgers">Burgers</a></li>
                </ol>
            </nav>
            <section id="recipes">
                <article class="recipe">
                    <h1 id="risotto">Risotto</h1>

                    <ul>
                        <li>Time: 45mins</li>
                        <li>Serves: 4</li>
                    </ul>

                    <table class="ingredients">
                        <thead>
                            <tr>
                                <th>Ingredients</th>
                                <th>Quantity</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Rice</td>
                                <td>100g</td>
                            </tr>
                            <tr>
                                <td>Wine</td>
                                <td>Glass</td>
                            </tr>
                            <tr>
                                <td>Stock</td>
                                <td>1.5pints</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="steps">
                        <p><strong>Step 1: </strong>Fry the rice for a bit.</p>
                        <p><strong>Step 2: </strong>Add the wine.</p>
                        <p><strong>Step 3: </strong>Add the stock.</p>
                        <p><strong>Step 4: </strong>Eat.</p>  
                    </div>

                </article>
                <div class="divide"></div>
                <article class="recipe">
                    <h1 id="burgers">Burgers</h1>

                    <ul>
                        <li>Time: 15mins</li>
                        <li>Serves: 1</li>
                    </ul>

                    <table class="ingredients">
                        <thead>
                            <tr>
                                <th>Ingredients</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Burgers</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Baps</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="steps">
                        <p><strong>Step 1: </strong>Heat the grill.</p>
                        <p><strong>Step 2: </strong>Cook the burgers.</p>
                        <p><strong>Step 3: </strong>Eat them between the baps.</p> 
                    </div>

                </article>

                <p class="clear"><em>Source: <a href="?">Some recipes websites</a></em></p>        
            </section>
        </main>
    </body>
</html>
