<!DOCTYPE html>
<html>
    <head>
        <title>Recipe book</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/recipes.css" rel="stylesheet" />
    </head>
    <body>
       
        <h1>Recipe Book</h1>
        
        <main>
            <nav class="contents">
                <h1>Recipes</h1>

                <ol>
                    <li><a href="#risotto">Risotto</a></li>
                    <li><a href="#burgers">Burgers</a></li>
                </ol>
            </nav>
            <section id="recipes">
                <article class="recipe">
                    <h1 id="risotto">Risotto</h1>
                    <section class="recipe-body">
                        <ul>
                            <li>Time: 45mins</li>
                            <li>Serves: 4</li>
                        </ul>

                        <table class="ingredients">
                            <thead>
                                <tr>
                                    <th>Ingredients</th>
                                    <th>Quantity</th>
                                </tr>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Rice</td>
                                    <td>100g</td>
                                </tr>
                                <tr>
                                    <td>Wine</td>
                                    <td>Glass</td>
                                </tr>
                                <tr>
                                    <td>Stock</td>
                                    <td>1.5pints</td>
                                </tr>
                            </tbody>
                        </table>

                        <ol class="steps">
                            <li>Fry the rice for a bit.</li>
                            <li>Add the wine.</li>
                            <li>Add the stock.</li> 
                            <li>Eat.</li> 
                        </ol>
                    </section>
                </article>

                <article class="recipe">
                    <h1 id="burgers">Burgers</h1>
                    <section class="recipe-body">
                        <ul>
                            <li>Time: 15mins</li>
                            <li>Serves: 1</li>
                        </ul>

                        <table class="ingredients">
                            <thead>
                                <tr>
                                    <th>Ingredients</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Burgers</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Baps</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>

                        <ol class="steps">
                            <li>Heat the grill.</li>
                            <li>Cook the burgers.</li>
                            <li>Eat them between the baps.</li> 
                        </ol>
                    </section>
                </article>

                <p class="clear"><em>Source: <a href="?">Some recipes websites</a></em></p>        
            </section>
        </main>
    </body>
</html>
