<!DOCTYPE html>
<html>
    <head>
        <title>Recipe book</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/recipes.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>Recipe Book</h1>
        </header>
        <main>
            <nav class="contents">
                <h1>Recipes</h1>

                <ol>
                    <li><a href="#risotto">Risotto</a></li>
                    <li><a href="#burgers">Burgers</a></li>
                </ol>
            </nav>
            <section id="recipes">
                <article class="recipe">
                    <h1 id="risotto">Risotto</h1>
                    <section class="recipe-body">
                        <aside class="ingredients">
                            <h1>Ingredients</h1>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Rice</td>
                                        <td>100g</td>
                                    </tr>
                                    <tr>
                                        <td>Wine</td>
                                        <td>Glass</td>
                                    </tr>
                                    <tr>
                                        <td>Stock</td>
                                        <td>1.5pints</td>
                                    </tr>
                                </tbody>
                            </table>
                        </aside>

                        <ul class="summary">
                            <li><i class="fa fa-clock-o"></i>45 mins</li>
                            <li><i class="fa fa-cutlery"></i>Serves 4</li>
                        </ul>

                        <img src="../img/risotto.jpg" alt="risotto" />
                        
                        <ol class="steps">
                            <li>Fry the rice for a bit.</li>
                            <li>Add the wine.</li>
                            <li>Add the stock.</li> 
                            <li>Eat.</li> 
                        </ol>
                        <div class="clear"></div>
                    </section>
                </article>

                <article class="recipe">
                    <h1 id="burgers">Burgers</h1>
                    <section class="recipe-body">

                        <aside class="ingredients">
                            <h1>Ingredients</h1>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Burgers</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Baps</td>
                                        <td>2</td>
                                    </tr>
                                </tbody>
                            </table>
                        </aside>

                        <ul class="summary">
                            <li><i class="fa fa-clock-o"></i>15 mins</li>
                            <li><i class="fa fa-cutlery"></i>Serves 1</li>
                        </ul>

                        <img src="../img/burgers.jpg" alt="risotto" />
                        

                        <ol class="steps">
                            <li>Heat the grill.</li>
                            <li>Cook the burgers.</li>
                            <li>Eat them between the baps.</li> 
                        </ol>
                        <div class="clear"></div>
                    </section>
                </article>

                <p class="source">Source: <a href="#">The top of my head</a></p>        
            </section>
        </main>
    </body>
</html>
