<!DOCTYPE html>
<html>
    <head>
        <title>Transitions</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../styles/play.css" rel="stylesheet" />
        <link href="../styles/transition.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <a href="../../index.html">
                <img class="home" src="../img/html5.png" alt="HTML5" />
            </a>
            <h1>Transitions</h1>
        </header>
        <main>
            <div class="horse"></div>
        </main>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../scripts/transition.js"></script>
    </body>
</html>
